[data-tabs=parent] {
  overflow: hidden;
}

[data-tabs=parent].no-transition > [data-tabs=control],
[data-tabs=parent].no-transition > [data-tabs=content],
[data-tabs=parent].no-transition > [data-tabs=element] {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

[data-tabs=parent].no-transition-global [data-tabs=control],
[data-tabs=parent].no-transition-global [data-tabs=content],
[data-tabs=parent].no-transition-global [data-tabs=element] {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

[data-tabs=parent] [data-tabs=content] {
  position: relative;
}

[data-tabs=element] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

[data-tabs=element].for-load {
  position: static;
  visibility: visible;
  opacity: 1;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

[data-tabs=control].is-active {
  background-color: #000000;
  color: #ffe17f;
  background-image: none;
  margin-bottom: 34px;
  width: 280px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 10px 30px;
  padding-left: 15px;
  text-align: left;
}

[data-tabs=element].is-active {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  /* background-color: #000000;
  color: #ffe17f;
  margin-bottom: 34px;
  width: 280px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 10px 30px;
  padding-left: 15px;
  text-align: left; */
}